<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="https://images.vexels.com/media/users/3/223136/isolated/preview/984f500cf9de4519b02b354346eb72e0-facebook-icon-social-media-by-vexels.png">
    <link rel="stylesheet" href="../style/stylo.css">
    <title>Facebook</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="facebook">
                <i class='bx bxl-facebook-circle'></i>
            </div>
            <div class="buscar">
                <input type="text" placeholder="  Buscar en facebook">
            </div>
            <div class="iconos">
                <div class="iconosi">
                    <button><i class='bx bxs-home'></i></button>
                </div>
                <div class="iconosi">
                    <i class='bx bxs-user-plus' ></i>
                </div>
                <div class="iconosi">
                    <i class='bx bx-tv' ></i>
                </div>
                <div class="iconosi">
                    <i class='bx bxs-store'></i>
                </div>
                <div class="iconosi">
                    <i class='bx bxs-user-badge'></i>
                </div>
            </div>
            
        </nav>
    </header>
    <section class="container">
        <div class="amigos">
           <button><a href="../views/Login.html">Amigos</a></button>
            <h1><i class='bx bx-group' ></i> Grupos</h1>
            <h1><i class='bx bxs-store' ></i> Marketplace</h1>
            <h1><i class='bx bxs-video' ></i>video</h1>
        </div>
        <div class="configurar">
        <div class="publicar" > 
            
       
    
         </div>
      
      </div>
     
        <div class="boton">
            
        </div>
        
    </section>

       <script src="./recorrer.js"></script>
</body>
</html>