<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/login.css">
    <title>Inicio Seción</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            
        </div>
        <div class="Iniciar">
           <form action="" class="login">
            <h1>Facebook</h1>
           <label for=""><i class="fa-solid fa-user"></i>
            <input required="" class="input" type="email" name="email" id="email" placeholder="Correo">
           </label>
           <label for=""><i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Contraseña">
           </label>
           <button class="button">Iniciar Sesión</button>
           <Button><a href="../views/Registrar.html">Crear Cuenta</a></Button>

           </form>
            
        </div>
    </div>
    
</body>
</html>