<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/stylo.css">
    <link rel="icon" href="https://images.vexels.com/media/users/3/223136/isolated/preview/984f500cf9de4519b02b354346eb72e0-facebook-icon-social-media-by-vexels.png">
    <title>Aplicacion</title>
</head>
<body>
    <div class="contenedor">
    <header>
        <nav class="nav">
            <div class="logo">
                <i class='bx bxl-facebook-circle'></i>
            </div>
            <div class="buscar">
                <input type="text" placeholder="  Buscar Persona">
            </div>
            <div class="iconos">
                    <a href="index.html"><i class='bx bxs-home'></i></a>
                    <button><i class='bx bxs-user-plus' ></i></button>
                    <button><i class='bx bx-group'></i></button>
                  
            </div>
            <div class="perfil1">
                <button><i class='bx bxs-bell-ring' ></i></button>
                <div class="Perfil" id="Perfil2"></div>
            </div>
            
        </nav>
    </header>
    <div class="todo">
    <div class="Contenido">
        <div class="Perfil" id="Perfil"></div>

      
    </div>
    <div class="Publicaciones"></div>
    <div class="Notificaciones"></div>
</div>
</div>
<script src="../validaciones/validacion.js"></script>
</body>
</html>