<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/login.css">
    <title>Registrate</title>
</head>
<body>
   
    <div class="container">
       
       
        <form action="" class="login">
            <h1>Registrate</h1>
            <label for=""><i class="fa-solid fa-user"></i>
                <input type="text" name="Nombre" placeholder="Nombre">
            </label>
            <label for=""><i class="fa-solid fa-user"></i>
                <input type="text" name="Nombre" placeholder="Apellido">
            </label>
            <label for=""><i class="fa-solid fa-user"></i>
                <input required="" class="input" type="email" name="email" id="email" placeholder="Correo">
               </label>
            <label for=""><i class="fa-solid fa-lock"></i>
                <input type="password" name="Nombre" placeholder="Contraseña">
            </label>
            <button>Crear Cuenta</button>
            <a href="../views/Login.html" class="volver">Volver</a>
        </form>
    </div>
    
</body>
</html>